* @DimiDimit

/src/main/resources/assets/customlan/lang/de_de.json @Cape-City
/src/main/resources/assets/customlan/lang/fr_fr.json @Calvineries
/src/main/resources/assets/customlan/lang/it_it.json @XfedeX
/src/main/resources/assets/customlan/lang/ru_ru.json @Felix14-v2
