name: build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 16
      uses: actions/setup-java@v2
      with:
        java-version: '16'
        distribution: adopt
    - name: Build with Gradle
      run: gradle build
    - name: Capture build artifacts
      uses: actions/upload-artifact@v2
      with:
        name: Artifacts
        path: build/libs/
